@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}

.hero-bg {
  background: radial-gradient(circle at top, rgba(250, 204, 21, 0.35), transparent 60%),
    linear-gradient(90deg, rgba(15, 23, 42, 0.02), rgba(15, 23, 42, 0.06));
}
